<h1 class="text-center head-spacer">Products</h1>

<div class="container">
  <div class="container col-md-3">
    <div class="list-group">
      <% @products.each do |t| %>
      <a><%= link_to t.brand, product_path(t), class:'list-group-item list-group-item-action' %></a>
      <% end %>
    </div>
  </div>

  <div class="container col-md-9 text-center">
    <% @products.each do |t| %>
      <div class="col-md-4">
        <div class="text-center">
          <h2 class="center"><%= t.name %></h2>
          <h5 class="center"><%= t.description %></h3>
          <%= link_to "More Info", product_path(t), class:"center btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>



<!-- <% @products.each do |t| %>
  <div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header"><%= t.name %></div>
    <div class="card-body text-success">
      <h4 class="card-title"><%= t.brand %></h4>
      <p class="card-text"><%= t.description %></p>
    </div>
  </div>
<% end %> -->
