<h1>Display your product.</h1>

<%= @product.name %><br />
<%= @product.SKU %><br />
<%= @product.price %><br />
<%= @product.description %><br />
<%= @product.quantity %><br />
<%= @product.brand %><br />
